body{
    background: linear-gradient(darkblue,black);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding: 10px;
    border-radius: 40pxpx;
}

img{
    width: 300px;
    height: 300px;
}

.buttons{
    padding: 10px;
    background: blue;
    color: white;
    border-radius: 10px;
}

